@model Author

@{
    ViewData["Title"] = "المؤلفين";
}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light"> <a asp-action="Index">اضافة مؤلف </a> /</span> 
        </h4>
        <div class="col-12 col-md-8 col-xl-7 mb-4 mb-md-0">
            <div class="card ">
                <div class="offcanvas-body flex-grow-0 mx-0">
                    <form asp-action="AddOrEdit" class="add-new-record " id="valid" onsubmit=" " method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" a />
                        <div class="col-sm-12">
                        <label asp-for="Name" class="control-lable"> اسم المؤلف</label>
                        <input asp-for="Name" class="form-control dt-full-name" type="text" placeholder="" aria-label="132456" aria-describedby="basicFullname2">
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <div class="col-sm-12 fv-plugins-icon-container">
                            <label asp-for="AboutHim" class="control-lable"> نبذه عن المؤلف</label>
                            <textarea asp-for="AboutHim" class="form-control" col="15"  rows="5" placeholder="" aria-label="132456" aria-describedby="basicFullname2"></textarea>
                            <span asp-validation-for="AboutHim" class="text-danger"></span>

                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>


                        <div class="col-sm-12">
                            <label asp-for="Image" class="control-lable"> صورة المؤلف</label>
                            <input asp-for="Image" class="form-control dt-full-name" type="file" name="ImageFile" accept="image/*" placeholder="" aria-label="132456" aria-describedby="basicFullname2">
                            <span asp-validation-for="Image" class="text-danger"></span>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>


                        <div class="col-sm-12 mt-5">
                            <button type="submit" class="btn btn-primary data-submit me-1 me-sm-3 w-100 ">حفظ</button>
                        </div>
                        <div class="col-sm-12">
                            <a asp-action="Index" class="btn btn-outline-secondary me-1 me-sm-3 w-100 mt-1">
                                إلغاء
                            </a>
                        </div>



                    </form>
                </div>
            </div>




            <!-- / Layout wrapper -->
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

