
@model IdentityRole
<form method="post" asp-action="Add">
    <div class="input-group mb-3">
        <input asp-for="Name" class="form-control" placeholder="اسم الصلاحية" />
        <div class="input-group-append">
        <button type="submit" class="btn btn-primary">اضف صلاحية</button>
        </div>
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</form>
