@page
@model RegisterModel
@{
    ViewData["Title"] = "إنشاء حساب";
}

<div class="container py-4 mt-5">
    <div class="row g-0 align-items-center justify-content-center">
        <div class="col-lg-6 mb-5 mb-lg-0 col align-self-center ">
            <div class="card cascading-center bg-body-tertiary" style="
                      backdrop-filter: blur(30px);
                      ">
                <div class="card-body p-5 shadow-5 text-center">
                    <h2 class="fw-bold mb-5">إنشاء حساب جديد</h2>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <input asp-for="Input.firstName" class="form-control" autocomplete="username" aria-required="true" placeholder="" />
                                    <label asp-for="Input.firstName">الاسم</label>
                                    <span asp-validation-for="Input.firstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <input asp-for="Input.lastName" class="form-control" autocomplete="username" aria-required="true" placeholder="" />
                                    <label asp-for="Input.lastName">اللقب</label>
                                    <span asp-validation-for="Input.lastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="" />
                            <label asp-for="Input.Email">الإيميل</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" />
                            <label asp-for="Input.Password">كلمة المرور</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" />
                            <label asp-for="Input.ConfirmPassword">تأكيد كلمة المرور</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <!-- Checkbox -->
                        @* <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                            <label class="form-check-label" for="form2Example33">
                                Subscribe to our newsletter
                            </label>
                        </div> *@

                        <!-- Submit button -->
                        <button type="submit" id="registerSubmit" 
                            data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                            إنشاء حساب
                        </button>

                        <!-- Register buttons -->
                      @*   <div class="text-center">
                            <p>or sign up with:</p>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div> *@
                    </form>
                </div>
            </div>
        </div>

      @*   <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
                 alt="" />
        </div> *@
    </div>
</div>












@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
